#node_modules
dist/ModuleIntegration-*
dist/node_modules
dist/index.html
dist/main.js
dist/bundle.js
dist/package.json
dist/public
dist/public/*
dist/frontend.zip
public/css/*
.vscode
.idea
.settings
.project
build/
*.iml
yarn.lock
package-lock.json
dist/package-lock.json

