.margin-left-30 {
    margin-left: 30px !important;
}

.margin-right-30 {
    margin-right: 30px !important;
}

.text-white {
    color: #ffffff;
}

.images_petit {
    width:300px;
    height:300px;
}

.height-button {
    height: 600px !important;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-top-1 {
    margin-top: 1px;
}

.test{
    height:100%;
    margin:0;
    padding:0;
}

.text{
    font-size: 7
}