.margin-left-30 {
    margin-left: 30px !important;
}

.margin-right-30 {
    margin-right: 30px !important;
}

.text-white {
    color: #ffffff;
}

.images_petit {
    width:300px;
    height:300px;
}

.height-button {
    height: 600px !important;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-top-1 {
    margin-top: 1px;
}

.test {
    margin-top: 64px !important;
    margin-bottom: 181.3px !important;
    position:absolute !important;
    background: blue !important;
    width: 100% !important;
    height: 100% !important;
}

.background {
    background: #263238;
}